*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container-experiencia{
    position: relative;
    display: grid;
    grid-template-columns:1fr 1fr ;
}

.container-conocimientos{
    position: relative;
    display: grid;
    grid-template-columns:0.3fr 1fr 1fr ;
}

.left-experiencia{
    width: 160px;
    background-color: lightblue;
    height: 400px;
}
.right-experiencia{
    width: 400px;
    background-color: lightcyan;
    height: 400px;
}
p{
    font-size: 0.7em;
}


.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}

.titulo-Right{
    position: relative;
    color: #002130;
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.titulo1-Right{
    position: relative;
    color: #002130;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24.5ch;
    animation: typing 3s steps(24), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
    display: block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
@keyframes typing {
    from{width: 0}
}
@keyframes blink {
    50%{border-color: transparent;}
}

.subtitulo-Right{
    position: relative;
    color: #002130;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.contacto-icono{
    width: 10%;
    display: flex;
    
       
}

.logo-tec{
    width: 15%;
    display: block;
    
}

.logo-tec-2{
    width: 40%;
    display: block;
    
}

.logo-tec-3{
    width: 50%;
    display: block;
    
}
.titulo{
    color: #fff;
}

.subtitulo{
    color: rgba(255, 255, 255, 0.815);
}
.contacto-icono:hover{
    background-color: #fff;
    border-color: #002130;
    border-radius: 50%;
}

.profile-text h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.imgBx-Profile{
    height: 40%;
    width: 100%;
    object-fit: cover;
}
.container .left-Side{
    position: relative;
    background: #002130;
    padding: 40px;
}

.container .right-Side{
    position: relative;
    background: #fff;
    padding: 40px;
}